<!-- This template is used to display single blog post -->


{% extends "base.html" %}
{% block title %}{{post.subject}}{% endblock %}

{% block content %}

<article class="col-sm-8 col-sm-offset-1">
    <h1>{{post.subject}}</h1>
    <div class="article-meta">
        <p class="author">Author: {{post.author_key.get().username}}</p>
        <p class="date">Posted on: {{post.created.strftime("%d-%m-%Y %H:%M")}}</p>
        <p class="comments"><a href="{{new_comment_url_head}}/{{post.key.id()}}">Comment</a>
        <p class="edit"><a href="{{edit_post_url_head}}/{{post.key.id()}}">Edit</a></p>
        <p class="delete"><a href="{{delete_post_url_head}}/{{post.key.id()}}">Delete</a></p>
    </div>
    <p>{{post.content}}</p>
    {% if post.comments %}
    <hr>
    <h3>Comments</h2>
    <ul class="comments">
        {% for comment in post.comments: %}
        <li>
            <p class="username">{{comment.key.parent().get().username}} says:</p>
            <p class="updated-datetime">{{comment.updated.strftime("%d-%m-%Y %H:%M")}}</p>
            <p class="content">{{comment.content}}</p>
            <p class="edit"><a href="{{edit_comment_url_head}}/{{comment.key.id()}}">Edit Comment</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</article>


{% endblock %}